<!DOCTYPE html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
      <h2>You've been Invited as a new Member</h2>
      <p><%= link_to "Sign up here!", @link %>

    </body>

  </html>